@model IEnumerable<vetKado.Entity.Pet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="get" asp-action="Index" class="form-inline mb-3">
    <div class="form-group mr-2">
        <input type="text" name="searchName" class="form-control" placeholder="Köpek Adı" value="@ViewData["searchName"]" />
    </div>
    <br />
    <div class="form-group mr-2">
        <input type="text" name="searchSpecies" class="form-control" placeholder="Tür" value="@ViewData["searchSpecies"]" />
    </div>
    <br />
    <div class="form-group mr-2">
        <input type="text" name="searchBreed" class="form-control" placeholder="Irk" value="@ViewData["searchBreed"]" />
    </div>
    <br />
    <div class="form-group mr-2">
        <input type="text" name="searchOwner" class="form-control" placeholder="Sahibi" value="@ViewData["searchOwner"]" />
    </div>
    <br />
    <div class="d-flex justify-content-start gap-2">
        <button type="submit" class="btn btn-primary">Ara</button>
        <a asp-action="Create" class="btn btn-primary">Mevcut Hastaya Hayvan Ekle</a>
        <a asp-action="NewRecord" class="btn btn-primary">Yeni Kayıt Oluştur</a>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Tür</th>
            <th>Irk</th>
            <th>Yaş</th>
            <th>Sahibi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Species</td>
                <td>@item.Breed</td>
                <td>@item.Age</td>
                <td>@item.Owner?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PetId" class="btn btn-primary">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.PetId" class="btn btn-primary">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.PetId" class="btn btn-danger">Sil</a>
                    <a asp-action="CreateTreatment" asp-route-id="@item.PetId" class="btn btn-success">Tedavi Oluştur</a>
                    <a asp-action="CreateVaccine" asp-route-id="@item.PetId" class="btn btn-success">Aşı Oluştur</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (!Model.Any())
{
    <p class="text-danger">Kriterlere uygun bir kayıt bulunamadı.</p>
}



